In [22]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [23]:
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [24]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

Step 1 : Create source embeddings for the text column

In [25]:
from sentence_transformers import SentenceTransformer

encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)

In [26]:
vectors.shape

(8, 768)

In [27]:
dim = vectors.shape[1]
dim

768

Step 2 : Build a FAISS Index for vectors

In [28]:
import faiss

index = faiss.IndexFlatL2(dim)

Step 3 : Normalize the source vectors (as we are using L2 distance to measure similarity) and add to the index

In [29]:
index.add(vectors)
index

Step 4 : Encode search text using same encorder and normalize the output vector

In [30]:
search_query = "I want to buy a polo t-shirt"
# search_query = "looking for places to visit during the holidays"
# search_query = "An apple a day keeps the doctor away"
vec = encoder.encode(search_query)
vec.shape

(768,)

In [31]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

Step 5: Search for similar vector in the FAISS index created

In [32]:
distances, I = index.search(svec, k=2)
distances,I

(array([[1.384484 , 1.4039094]], dtype=float32), array([[3, 2]]))

In [34]:
I.tolist()
row_indices = I.tolist()[0]
row_indices
df.loc[row_indices]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion

In [35]:
search_query

'I want to buy a polo t-shirt'

In [41]:
def get_search_result(search_query:str)->list:
    vec = encoder.encode(search_query)
    vec.shape
    svec = np.array(vec).reshape(1,-1)
    svec.shape
    distances, I = index.search(svec, k=2)
    I.tolist()
    row_indices = I.tolist()[0]
    row_indices
    return df.loc[row_indices]

In [42]:
get_search_result('I want to buy a polo t-shirt')

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion

In [43]:
get_search_result("looking for places to visit during the holidays")

,text,category
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel